.container{
border-radius:5px;
border:2px solid black;
margin:1rem;
display:flex;
flex-direction:column;
background-color:rgba(255,255,255,0.1);
}

h1
{margin:3rem;
text-decoration:underline;
text-decoration-style:dotted;
text-align:center;
}

h2{
margin:1rem;
padding:1rem;
background-color:rgb(157,250,217);
border-radius:10px;
color:black;
}

p{
margin:1rem;
}

body{
max-width:800px;
margin: 0 auto;
font-family:system-ui,-apple-system,BlinkMacSystemFont,'SegoeUI',Roboto,Oxygen,Ubuntu,Cantarell,'OpenSans','HelveticaNeue',sans-serif;
background-color:rgba(0,0,0,0.9);
color:beige;
}

table{
margin:1rem;
}

td{
text-align:center;
}